/**
 * Events Feed - Minimal styles
 */

.dashboard .layout .block .events-feed a {
  color: var(--gin-color-primary);
}

.events-feed {
  & a {
    text-decoration: none;
  }

  .events-list {
    padding-inline: var(--space-l);
  }

  .events-community-info {
    padding: var(--gin-spacing-density-m) var(--gin-spacing-m);
    border-bottom: 1px solid var(--gin-border-color-table);
  }

  .events-table {
    margin-top: 0;
  }

  .events-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
    margin-block: var(--space-l);
    padding-inline: var(--space-l);
  }

  .events-footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    justify-content: center;
    margin-inline-start: auto;
    font-size: var(--font-size-xs);

    & a {
      color: var(--color-gray-700);
    }
  }

  .events-separator {
    color: var(--color-gray-500);
  }

  .events-load-more {
    flex: 0 1 auto;

    & a.button--extrasmall {
      margin: 0;

      &:hover {
        text-decoration: none;
        background-color: var(--color-gray-025);
      }
    }
  }

  .events-cta {
    text-align: center;
    border-block-start: 1px solid var(--gin-border-color-table);
    border-radius: 0 0 var(--block-radius) var(--block-radius);
    background-color: var(--gin-bg-layer);
    font-size: var(--font-size-s);
    padding-block: var(--space-m);

    & a {
      font-weight: 500;
    }
  }

  .event-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
    color: var(--color-gray-800);
    font-size: var(--font-size-s);
  }

  .event-info {
    & .event-title {
      color: var(--color-absolutezero);
    }

    & .event-details {
      font-size: var(--font-size-xs);
    }
  }

  .event-featured {
    & .event-info::before {
      display: inline-block;
      margin-inline-end: var(--space-xs);
      padding: 0.125em 0.5em;
      content: "DrupalCon";
      color: var(--gin-color-primary-active);
      border-radius: var(--gin-border-m);
      background-color: var(--gin-bg-item);
      font-size: var(--font-size-xxs);
      font-weight: 500;
    }
  }

  .event-date {
    color: var(--gin-color-text);
    font-weight: 500;
  }

  .event-time {
    color: var(--color-gray-800);
    font-size: var(--font-size-xs);
  }
}
